@import url('./reset.css');
@import url('./spinner.css');
@import url('./backdrop.css');

body {
  font-family: Montserrat;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0.64px;
  background-color: #f3f2f2;
}
.search-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  display: flex;
  gap: 12px;
  font-family: montserrat, sans-serif;
  margin-bottom: 60px;
}
.search-input {
  box-sizing: border-box;
  width: 260px;
  height: 32px;
  border: 1px #7b7979 solid;
  border-radius: 4px;
  padding-left: 16px;
  color: black;
  transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.search-input:hover {
  border: 1px #000000 solid;
}
.submit-btn {
  box-sizing: border-box;
  height: 32px;
  width: 90px;
  border: none;
  border-radius: 8px;
  background-color: #24b459;
  color: #fff;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-btn:hover {
  background-color: #6ced79;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 32px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px 24px;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.list-item {
  max-width: calc((1200px - 48px) / 3);
  height: 444px;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  border-radius: 8px;
}
.list-item:hover {
  transform: scale(1.05);
}
.list-item-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.list-item-img {
  height: 200px;
  width: 360px;
  margin-top: 12px;
}
.list-item-title {
  margin: 0 12px;
  text-align: start;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 16px;
}
.list-item-text {
  margin: 0 12px;
  font-size: 14px;
  line-height: 20px;
  font-style: bold;
  max-height: 60px;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  color: #7b7979;
}
.author-block {
  font-size: 12px;
  text-align: left;
  margin-bottom: 12px;
  width: 100%;
}
.list-item-author {
  margin-left: 12px;
  color: #7b7979;
}
.last-news-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  height: 64px;
  width: 240px;
  border: none;
  border-radius: 8px;
  background-color: #244fb4;
  color: #fff;
  font-size: 24px;
  margin-top: 200px;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.last-news-btn:hover {
  background-color: #6185db;
}
.is-hidden {
  display: none;
}
